{% extends "layouts.html" %} {% block title %} Blog {% endblock %} {% block content %} {% load static %}
<div class="tm-blog-img-container">
</div>
<!-- ======= Blog ======= -->
<section class="tm-section">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md- col-lg-9 col-xl-9">
                <div class="tm-blog-post">
                    <a href="">
                        <h3 class="tm-green-text">Pellentesque fermentum mauris</h3>
                        <img src="{% static 'img/b1.jpg' %}" alt="Image" class="img-fluid tm-img-post">

                        <p>You can help templatemo by telling your friends about our HTML CSS templates. Praesent velit ante, congue ac dignissim. Morbi vel pharetra massa, non iaculis tortor. Non luctus mauris lacinia quis. Ut fringilla lacus ac tempor
                            ullamcorper. Mauris iaculis placerat ex et mattis.</p>
                    </a>
                </div>

                <aside class="col-md-4 col-lg-3 col-xl-3 tm-aside-r">

                    <div class="tm-aside-container">
                        <h3 class="tm-green-text tm-title">
                            প্রফাইল
                        </h3>

                        <div class="row justify-content-center" data-aos="fade-up">
                            <div class="col-lg-3">
                                <div class="info-wrap">
                                    <div class="row">
                                        <div class="col-lg-4 info">
                                            <i class="icofont-google-map"></i>
                                            <h4>Name</h4>
                                            <p>{{ user.username }}</p>
                                        </div>

                                        <div class="col-lg-4 info mt-4 mt-lg-0">
                                            <a href="{% url 'logout' %}">LOGOUT</a>
                                        </div v>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="tm-margin-t-small">
                        <h3 class="tm-green-text tm-title tm-margin-t-small">
                            Useful Links
                        </h3>
                        <nav>
                            <ul class="nav">
                                <li><a href="#" class="tm-text-link">Suspendisse sed dui nulla</a></li>
                                <li><a href="#" class="tm-text-link">Lorem ipsum dolor sit</a></li>
                                <li><a href="#" class="tm-text-link">Duiss nec purus et eros</a></li>
                                <li><a href="#" class="tm-text-link">Etiam pulvinar et ligula sed</a></li>
                                <li><a href="#" class="tm-text-link">Proin egestas eu felis et iaculis</a></li>
                            </ul>
                        </nav v>
                        <hr class="tm-margin-t-small">

                        <div class="tm-content-box tm-margin-t-small">
                            <a href="#" class="tm-text-link">
                                <h4 class="tm-margin-b-20 tm-thin-font">Duis sit amet tristique #1</h4>
                            </a>
                            <p class="tm-margin-b-30">Vestibulum arcu erat, lobortis sit amet tellus ut, semper tristique nibh. Nunc in molestie elit.</p>
                        </div v>
                        <hr class="tm-margin-t-small">
                        <div class="tm-content-box tm-margin-t-small">
                            <a href="#" class="tm-text-link">
                                <h4 class="tm-margin-b-20 tm-thin-font">Duis sit amet tristique #2</h4>
                            </a>
                            <p>Vestibulum arcu erat, lobortis sit amet tellus ut, semper tristique nibh. Nunc in molestie elit.</p>
                        </div v>
                        <hr class="tm-margin-t-small">
                        <div class="tm-content-box tm-margin-t-small">
                            <a href="#" class="tm-text-link">
                                <h4 class="tm-margin-b-20 tm-thin-font">Duis sit amet tristique #3</h4>
                            </a>
                            <p>Vestibulum arcu erat, lobortis sit amet tellus ut, semper tristique nibh. Nunc in molestie elit.</p>
                        </div v>
                    </div>


                </aside>

            </div>

        </div>
</section>
<!-- ======= End Blog ======= -->
{% endblock %}