{% extends "layouts.html" %} {% block title %} Exam and Profile{% endblock %} {% block content %} {% load static %}
<div class="tm-blog-img-container">
</div>
<!-- ======= Blog ======= -->
<section class="tm-section">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <div class="tm-blog-post text-center">
                    <h3 class="tm-green-text">পরীক্ষাসমূহ</h3>
                    <p>বিভিন্ন বিষয়াবলীর উপর পরীক্ষাসমূহ</p>
                </div>
            </div>
            <aside class="col-md-6 col-sm-12 tm-aside-r">
                <div class="tm-aside-container text-center">
                    <h3 class="tm-green-text text-center tm-title">
                        প্রোফাইল
                    </h3>
                    <hr class="tm-margin-t-small">
                    <div class="row justify-content-center" data-aos="fade-up">
                        <div class="col-md-12">
                            <div class="info-wrap">
                                <div class="row">
                                    <div class="info">
                                        <i class="icofont-student-alt"></i>
                                        <h4>Name</h4>
                                        <p>{{ user.username }}</p>
                                    </div>

                                    <div class="info mt-4 mt-lg-0">
                                        <a href="{% url 'logout' %}">LOGOUT</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="tm-margin-t-small">
                        <h3 class="tm-green-text tm-title tm-margin-t-small">
                            Useful Links
                        </h3>
                        <nav>
                            <ul class="nav">
                                <li><a href="#" class="tm-text-link">Suspendisse sed dui nulla</a></li>
                                <li><a href="#" class="tm-text-link">Lorem ipsum dolor sit</a></li>
                                <li><a href="#" class="tm-text-link">Duiss nec purus et eros</a></li>
                                <li><a href="#" class="tm-text-link">Etiam pulvinar et ligula sed</a></li>
                                <li><a href="#" class="tm-text-link">Proin egestas eu felis et iaculis</a></li>
                            </ul>
                        </nav v>
                        <hr class="tm-margin-t-small">
                    </div>
                </div>
            </aside>

        </div>
    </div>

</section>
<!-- ======= End Blog ======= -->
{% endblock %}