{% extends "layouts.html" %} {% block title %}Books{% endblock %} {% block content %} {% load static %}
<style>
    .our_books {
        padding: 30px;
    }
</style>
<div class="tm-blog-img-container"></div>
<section class="tm-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="our_books">
                    <h3>গণিত</h3>
                    <p>নবম-দশম শ্রেণি</p><img src="{% static 'img/bangla.jpg' %}" width="300" height="100" class="img-fluid " alt="img"><br><a href="https://drive.google.com/file/d/1C6wa3wi3cHlXbICkAw7LK3BaPxQIkK4Q/view?usp=sharing" target="_blank ">Download</a></div>
            </div>
            <div class="col-md-4">
                <div class="our_books">
                    <h3>গণিত</h3>
                    <p>নবম-দশম শ্রেণি</p><img src="{% static 'img/math.jpg' %}" width="300" height="100" class="img-fluid " alt="img"><br><a href="https://drive.google.com/file/d/1C6wa3wi3cHlXbICkAw7LK3BaPxQIkK4Q/view?usp=sharing" target="_blank ">Download</a></div>
            </div>
            <div class="col-md-4">
                <div class="our_books">
                    <h3>তথ্য ও যোগাযোগ প্রযুক্তি</h3>
                    <p>নবম-দশম শ্রেণি</p><img src="{% static 'img/ict.jpg' %}" width="300" height="100" class="img-fluid " alt="img"><br><a href="https://drive.google.com/file/d/1_r71dbguNo_NHLSvy6dg-vTRpEkaQYnv/view?usp=sharing" target="_blank">Download</a></div>
            </div>
            <div class="col-md-4">
                <div class="our_books">
                    <h3>উচ্চতর গণিত</h3>
                    <p>নবম-দশম শ্রেণি</p><img src="{% static 'img/index1.jpg' %}" width="300" height="100" class="img-fluid " alt="img"><br><a href="https://drive.google.com/file/d/1yqlXdumb7ZuFnTRmEc7el8SEzSO95Zft/view?usp=sharing" target="_blank">Download</a></div>
            </div>
            <div class="col-md-4">
                <div class="our_books">
                    <h3>ভূগােল ও পরিবেশ</h3>
                    <p>নবম-দশম শ্রেণি</p><img src="{% static 'img/Screenshot_20200117_151001.jpg' %}" width="300" height="100" class="img-fluid " alt="img"><br><a href="https://drive.google.com/file/d/1Sr-zyeDSj89h9nwWf-0QFw-xWCzKPnnr/view?usp=sharing" target="_blank">Download</a></div>
            </div>
            <div class="col-md-4">
                <div class="our_books">
                    <h3>বাংলা ব্যাকরণ ও নির্মিতি</h3>
                    <p>নবম-দশম শ্রেণি</p><img src="{% static 'img/index.jpg' %}" width="300" height="100" class="img-fluid " alt="img"><br><a href="https://drive.google.com/file/d/19gEFiST3T6s32Dezw4rzIh2ENcppMmBy/view?usp=sharing" target="_blank">Download</a></div>
            </div>
        </div>
    </div>
</section> {%endblock%}