{% extends "layouts.html" %} {% block title %}Classes{% endblock %} {% block content %} {% load static %}
<div class="tm-blog-img-container">
</div>

<section class="tm-section">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-4">
                <div class="our_class">
                    <h3 class="text-center">English</h3>
                    <iframe width="400" height="315" src="https://www.youtube.com/embed/7isSwerYaQc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <div class="our_class">
                    <h3 class="text-center">Bangla</h3>
                    <iframe width="400" height="315" src="https://www.youtube.com/embed/V_ssC8GfIUA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <div class="our_class">
                    <h3 class="text-center">Math</h3>
                    <iframe width="400" height="315" src="https://www.youtube.com/embed/N0_TWQTrJ-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}